@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(CleanLayout)">
            <p role="alert"><MudText Typo="Typo.h2" Color="Color.Primary">404 Not Found</MudText></p>
        </LayoutView>
    </NotFound>
</Router>


@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("/login");
    }
}
